@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880");

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../asset/Fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-BoldItalic";
  src: url("../asset/Fonts/Gilroy-BoldItalic.ttf");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("../asset/Fonts/Gilroy-Heavy.ttf");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../asset/Fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../asset/Fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../asset/Fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../asset/Fonts/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: "Gilroy-Thin";
  src: url("../asset/Fonts/Gilroy-Thin.ttf");
}

@font-face {
  font-family: "Gilroy-UltraLight";
  src: url("../asset/Fonts/Gilroy-UltraLight.ttf");
}

$primary-font-bold: "Gilroy-Bold" !important;
$primary-font-bold-italic: "Gilroy-BoldItalic" !important;
$primary-font-heavy: "Gilroy-Heavy" !important;
$primary-font-light: "Gilroy-Light" !important;
$primary-font-medium: "Gilroy-Medium" !important;
$primary-font-regular: "Gilroy-Regular" !important;
$primary-font-semi-bold: "Gilroy-SemiBold" !important;
$primary-font-thin: "Gilroy-Thin" !important;
$primary-font-ultra-light: "Gilroy-UltraLight" !important;
$Exo2Font: "Exo 2" !important;
$KarlaFont: "Karla" !important;

// Colors
$primary-purple: #ac47ff;
$dull-white: #f6fbfb;
$dull-black: #232323;
$sec-yellow: #ffd335;
$black-title: #00293a;
$light-purple: #abbfed;
$light-yellow: #f1ff85;
$light-orange: #fabe75;

$light-cayn: #8eebf5;
$cayn-white: #c2fff8;
$white100: #eeeeee;
$white80: #dfdfdf;
$white60: #b6b6b6;
$black100: #212121;
$black60: #858585;
$black80: #454545;

$canva-gradient: linear-gradient(93.81deg, #b276ff -8.63%, #8eebf5 103.11%);

// Heights
$LandingScreenNavbarHeight: 80px;
$LandingScreenNavbarPaddingTopBottom: 1rem;
$LandingScreenNavbarPaddingLeftRight: 4rem;
