@import "@/styles/_config.scss";

.LoginSignUp {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.8s;

  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      backdrop-filter: blur(15px);
      display: flex;
      flex-direction: column;
      border: 2px solid #ffffff2f;
      padding: 1.5rem;
      border-radius: 30px;
      min-width: 460px;
      max-width: 480px;
      align-items: center;

      @media (max-width: 600px) {
        min-width: 95vw;
      }
    }
  }

  button {
    background-color: white;

    color: black;
    padding: 0.8rem 0.8rem;
    border: none;
    outline: none;
    border-radius: 30px;
    width: 70%;

    font-size: 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 600ms;

    &:active {
      // scale: 0.96;
      border: none;
      outline: none;
    }

    // &:hover {
    //   color: white;
    //   background-color: #222;
    // }
  }

  // h1 {
  //   font-size: 2.5rem;
  //   margin: 0rem 0rem 2rem 0;
  //   text-align: center;
  //   font-weight: 900;
  //   font-family: $primary-font-bold;
  // }

  label {
    font-size: 1.15rem;
    margin: 0rem 0rem 0.4rem 0rem;
    // color: transparent;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    outline: none;
    border: none;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 30px;
    width: calc(90% - 2rem);
    margin: 0.5rem 0;

    background-color: transparent;
    color: white;
    border: 1px solid white;

    &::placeholder {
      color: white;
      transition: 0.4s;
    }
    &:focus {
      outline: none;
      // border: none;

      &::placeholder {
        color: #c5c5c5;
      }
    }
  }

  hr {
    width: 100%;
    border-top: 2px solid #a9ff1c;
  }
}

.BottomMessage {
  margin-bottom: 0.5rem;

  span {
    user-select: none;
    cursor: pointer;
    // color: #a9ff1c;
    font-weight: bold;
    font-family: $primary-font-bold;
  }
}

.Message {
  user-select: none;

  color: #a9ff1c;
  margin-top: 0.3rem;
}

.AvatarCollection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  img {
    margin: 0.2rem;
    cursor: pointer;
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    border: 3px solid transparent;
    padding: 4px;
  }
}

.SelectedAvatar {
  border: 3px solid white !important;
}
